:root {
     --white: #fff;
     --red: #f00;
     --black: #000;
     --blue: #00f;
}

.mt-4 {
     margin-top: 1rem;
}

.mb-4 {
     margin-bottom: 1rem;
}

.m-4 {
     margin: 1rem;
}

.mx-4 {
     margin: 0 1rem;
}

.my-4 {
     margin: 1rem 0;
}

.pt-4 {
     padding-top: 1rem;
}

.pb-4 {
     padding-bottom: 1rem;
}

.p-4 {
     padding: 1rem;
}

.px-4 {
     padding: 0 1rem;
}

.py-4 {
     padding: 1rem 0;
}

.flex {
     display: flex;
}

.flex-1 {
     flex: 1;
}

.flex-col {
     flex-direction: column;
}

.justify-center {
     justify-content: center;
}

.justify-around {
     justify-content: space-around;
}

.justify-between {
     justify-content: space-between;
}

.bg-black {
     background-color: var(--black);
}

.bg-transparent {
     background-color: transparent !important;
}

.bg-red {
     background-color: var(--red);
}

.bg-white {
     background-color: var(--white) !important;
}

.h-full {
     height: 100%;
}

.object-contain {
     object-fit: contain;
}

.object-cover {
     object-fit: cover;
}

.w-full {
     width: 100%;
}

.min-h-screen {
     min-height: 100vh;
}

.min-w-screen {
     min-width: 100vw;
}

.absolute {
     position: absolute
}

.sticky {
     position: sticky
}

.relative {
     position: relative
}

.fixed {
     position: fixed
}

.top-0 {
     top: 0
}

.bottom-0 {
     bottom: 0
}

.left-0 {
     left: 0
}

.right-0 {
     right: 0
}

.inset-0 {
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
}

.z-0 {
     z-index: 0
}

.z-10 {
     z-index: 10
}

.z-20 {
     z-index: 20
}

.center-absolute {
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
}

.text-white {
     color: var(--white) !important
}

.text-black {
     color: black !important
}

.opacity-50 {
     opacity: 0.5
}

.opacity-75 {
     opacity: 0.75
}

.opacity-90 {
     opacity: 0.9
}